article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}
audio,canvas,video{display:inline-block;}
audio:not([controls]){display:none;height:0;}
[hidden]{display:none;}
html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}
body{margin:0;}
a:focus{outline:thin dotted;}
a:active,a:hover{outline:0;}
h1{font-size:2em;}
abbr[title]{border-bottom:1px dotted;}
b,strong{font-weight:bold;}
dfn{font-style:italic;}
mark{background:#ff0;color:#000;}
code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}
pre{white-space:pre;white-space:pre-wrap;word-wrap:break-word;}
q{quotes:"\201C" "\201D" "\2018" "\2019";}
small{font-size:80%;}
sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}
sup{top:-0.5em;}
sub{bottom:-0.25em;}
img{border:0;}
svg:not(:root){overflow:hidden;}
figure{margin:0;}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:0.35em 0.625em 0.75em;}
legend{border:0;padding:0;}
button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}
button,input{line-height:normal;}
button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer;}
button[disabled],input[disabled]{cursor:default;}
input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0;}
input[type="search"]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}
input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none;}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}
textarea{overflow:auto;vertical-align:top;}
table{border-collapse:collapse;border-spacing:0;}
@font-face{font-family:ApexRounded;src:url('../fonts/apexrounded-book.eot');src:url('../fonts/apexrounded-book.eot') format('embedded-opentype'),url('../fonts/apexrounded-book.ttf') format('truetype'),url('../fonts/apexrounded-book.woff') format('woff'),url('../fonts/apexrounded-book.svg#font') format('svg');font-weight:normal;}code.highlight{white-space:initial;}code.highlight .line{display:block;white-space:nowrap;}
code.highlight .string{color:#12ae96;}
code.highlight .string.key{color:#5d5d5d;}
code.highlight .number{color:#f2a428;}
code.highlight .keyword{font-weight:bold;}
html,body{width:100%;height:100%;}
body{margin:0px;padding:0px;color:#555555;background-color:#ffffff;font-family:Helvetica,Arial,sans-serif;font-weight:lighter;}
section{margin-bottom:32px;}
h1,h2,h3{font-family:ApexRounded,Helvetica,Arial,sans-serif;font-weight:lighter;}
h1{font-size:52px;margin:60px 0px 10px 0px;}
#resources h1{color:#0fb79b;font-size:32px;margin:20px 0px;}
#resources img{border:20px solid #f7f7f7;}
h2{font-size:28px;}
h4{margin:10px 0px -10px 0px;font-weight:normal;text-transform:capitalize;}
strong{font-weight:normal;text-transform:capitalize;color:#0fb79b;}
em{font-size:0.8em;color:#0fb79b;}
p{margin:20px 0px;line-height:1.4em;}
a{color:#f7f7f7;}
button{display:inline-block;width:190px;height:38px;margin-right:2px;padding:10px 5px;background-repeat:no-repeat;background-position:88px 10px;background-color:#0fb79b;border:none;outline:none;border-radius:2px;color:#ffffff;font-family:ApexRounded,Helvetica,Arial,sans-serif;font-size:18px;text-align:center;}
button:hover{background-color:#22bda2;}
input{display:inline-block;width:600px;padding:10px 5px;outline:none;border:none;border-radius:2px;}
form button{float:right;}
table{display:inline-block;width:100%;margin-top:-18px;padding-bottom:20px;}
thead{display:block;margin-top:2px;font-size:13px;font-weight:bold;}
tr{display:block;width:100%;padding:6px 0px;border-bottom:1px solid #cccccc;}
td{vertical-align:top;}
.clickableRow:hover{cursor:pointer;background-color:#f7f7f7;}
tr td:nth-child(1){width:125px;}
tr td:nth-child(2){width:220px;}
tr td:nth-child(3){width:475px;}
td pre{display:block;font-size:12px;line-height:20px;margin:5px 0px 0px 0px;padding:0px;}
code{display:block;overflow-y:scroll;overflow-x:auto;width:780;max-height:360px;margin:0px;padding:10px;background-color:#ffffff;border:10px solid #f3f3f3;border-radius:2px;color:#555555;font-size:12px;font-family:Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace;text-shadow:0 1px 0 rgba(0, 0, 0, 0.05);}
#resources ul{list-style-type:circle;margin-bottom:-20px;}
#resources li{padding-bottom:20px;}
#resources hr{border:none;outline:none;border-top:1px solid #f3f3f3;}
#nav{position:fixed;top:0px;left:0px;width:100%;height:63px;padding:10px 0px;background-color:#ffffff;z-index:999;}
#nav ul{list-style:none;display:inline-block;padding:6px 10px;}
#nav ul.active{background-color:#fbfbfb;}
#nav ul li{display:inline-block;float:left;padding:0px 20px;text-align:center;}
#nav ul li:nth-child(1){border-right:1px solid #f3f3f3;}
#nav ul li a{color:#0fb79b;text-decoration:none;}
#splash{height:400px;background-image:url(http://dofr7nqq7emks.cloudfront.net/gra_splash.jpg);background-repeat:repeat-x;background-position:0px 40px;background-color:#fbfbfb;margin-top:83px;}
#introduction{color:#ffffff;background-color:#0fb79b;}
#introduction code{background-color:#ffffff;border:none;width:800px;border-radius:2px;}
#introduction p{line-height:1.4em;}
#resources,#types{background-color:#ffffff;}
#sandbox,#roadmap{background-color:#fbfbfb;}
.outer{display:block;position:relative;width:100%;padding:20px 0px 16px 0px;}
.inner{width:820px;padding:0px 70px;margin:0px auto;}