  /* overrides */
  html {height: 100%;}
  body, html {background: url('http://diy-visualpedia.s3.amazonaws.com/one.png') repeat-y; background-size: 380px; text-align: left;}


  #wrapper {position: relative; height: 100%;}

  #nav h1 {font-weight: normal; font-size: 34px;}

  /* sidebar */
  #sidebar {position: absolute; width: 300px; background-color: #E8E8E8; text-align: left; padding: 35px 40px; height: 100%;}
  
  .intro-ol {list-style: none; margin: 0px;}
  #challenge-list .intro-ol li a {padding: 0 0 1px 0; border-bottom: none; color: #333; line-height: 38px;}
  
  #sidebar .list-title {padding: 15px 0px 15px 40px; font-weight: normal; color: #808080; font-size: 22px;}
  
  #challenge-list {background-color: #fff; -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); border-radius: 4px; padding: 20px 20px 20px 0px;}
  #challenge-list ol {font-family: ApexRounded, sans-serif; font-size: 20px; color: #333;}
  #challenge-list li a {padding: 0 0 1px 0; border-bottom: 3px solid #ffe14c; color: #333; line-height: 38px;}
  #challenge-list li.active a {padding: 0 0 1px 0; border-bottom: 3px solid #3290d8; color: #3290d8; line-height: 38px;}
  #challenge-list li.active {color: #3290d8;}
 
  /* main body */
  #main {margin-left: 380px; margin-right: 40px;}
 
  #theContent img {max-width: 100%;}
  #theContent {max-width: 900px; padding: 40px;}
  #theContent a {font-weight: bold;}
  #theContent h1 {padding: 0 0 5px 0; border-bottom: 4px solid #ffe14c; color: #333; margin-bottom: 32px; font-size: 44px; display: inline-block; font-weight: normal; line-height: auto;}
  #theContent h4 {font-size: 14px; border-left: 4px solid #ff0; padding: 10px 20px; margin-top: 30px;}
 
 /* others */
  pre {padding: 10px 10px; outline: none; border: none; border-radius: 2px; background: #f6f6f6;}
  code {color: #555555; font-size: 14px; font-family: Monaco, Bitstream Vera Sans Mono, Lucida Console, Terminal, monospace; text-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);}
  code {display: inline; margin: 0px; padding: 0px; background-color: transparent; border: none; border-radius: 0px;}
 
  iframe {width: 100%; min-height: 500px; padding: 10px 0 20px 0;}