#top.outer {
  z-index: 5;
  height: auto;
  margin: 0;
  position: relative;
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 0 -1px rgba(255, 255, 255, 0.05);
  font-family: ApexRounded, sans-serif;
  font-weight: normal;
  background-color: #38cdff;
  background-image: -moz-linear-gradient(left, #6b4aaa, #38cdff);
  background-image: -ms-linear-gradient(left, #6b4aaa, #38cdff);
  background-image: -webkit-gradient(linear, 0 0, 100% 0, from(#6b4aaa), to(#38cdff));
  background-image: -webkit-linear-gradient(left, #6b4aaa, #38cdff);
  background-image: -o-linear-gradient(left, #6b4aaa, #38cdff);
  background-image: linear-gradient(left, #6b4aaa, #38cdff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b4aaa', endColorstr='#38cdff', GradientType=1);
  -webkit-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 4px 0 rgba(0, 0, 0, 0.05);
}
#top.outer a:active {
  margin-top: 1px !important;
  margin-bottom: -1px !important;
}
#top.outer #navbar {
  padding: 24px 0 15px 0;
}
#top.outer #navbar #logo {
  float: left;
  text-indent: 100%;
  white-space: nowrap;
  text-indent: 1000em;
  overflow: hidden;
  display: block;
  background-image: url('/images/www/logo/60x63.png');
  width: 60px;
  height: 63px;
  margin-top: -3px;
}
#top.outer #navbar #logo:active {
  margin-top: -2px !important;
}
#top.outer #navbar #nav-user {
  margin: 15px 0 0 25px;
  float: left;
  font-size: 16px;
  line-height: 16px;
}
#top.outer #navbar #nav-user .btn {
  font-size: 16px;
  padding: 6px 15px 4px;
  margin: 0 5px;
}
#top.outer #navbar #nav-user .btn.signin:before {
  content: '<';
  font-family: Icons;
  margin: 0 5px 0 0;
}
#top.outer #navbar #nav-user .btn.join:before {
  content: 'T';
  font-family: Icons;
  margin: 0 5px 0 0;
}
#top.outer #navbar #nav-user .user {
  display: block;
  margin: -5px 0 9px 0;
}
#top.outer #navbar #nav-user .user a {
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.12);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#1f000000, endColorstr=#1f000000)";
  font-size: 19px;
  line-height: 20px;
  color: #fff;
  padding: 2px 5px 0 5px;
  margin-left: -5px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.12);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
#top.outer #navbar #nav-user .user .label {
  font-size: 13px;
  display: block;
  margin: -19px 0 6px 0;
  text-transform: uppercase;
}
#top.outer #navbar #nav-user .signout {
  color: #38a9ff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}
#top.outer #navbar #nav-user .signout:hover {
  color: #289cf5;
}
#top.outer #navbar #nav {
  float: right;
  margin: 0;
  padding: 0;
  list-style: none;
  *zoom: 1;
}
#top.outer #navbar #nav:before,
#top.outer #navbar #nav:after {
  display: table;
  content: "";
}
#top.outer #navbar #nav:after {
  clear: both;
}
#top.outer #navbar #nav li {
  position: relative;
  height: 100px;
  width: 90px;
  float: left;
  font-size: 18px;
  margin: -15px 0;
  text-align: center;
}
#top.outer #navbar #nav a {
  position: relative;
  display: inline-block;
  padding: 55px 0 0 0;
  color: #396a9a;
  color: rgba(0, 0, 0, 0.35);
  *display: inline;
  /* IE7 inline-block hack */

  *zoom: 1;
}
#top.outer #navbar #nav a:before {
  color: rgba(0, 0, 0, 0.3);
}
#top.outer #navbar #nav a:hover {
  color: #34608c;
  color: rgba(0, 0, 0, 0.45);
}
#top.outer #navbar #nav a:hover:before {
  color: rgba(0, 0, 0, 0.4);
}
#top.outer #navbar #nav li.active {
  margin: -15px 0;
  width: 105px;
  background: #535b98;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
}
#top.outer #navbar #nav li.active:after {
  content: ' ';
  position: absolute;
  bottom: -10px;
  left: 0;
  right: 0;
  height: 10px;
  background: url(/images/www/ui_nav_jaggies.png?4) top left repeat-x;
}
#top.outer #navbar #nav li.active a,
#top.outer #navbar #nav li.active a:before {
  color: #fff;
}